<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="changePasswordModalLabel">Redefinir Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-group" action="{{ url_for('auth.change_password') }}" method="post">
                    <div class="row g-3">
                        {{ changePasswordForm.csrf_token }}
                        {{ render_field(changePasswordForm.current_password, class_="form-control", div_class="col-md-12")
                        }}
                    </div>
                    <div class="row g-3">
                        {{ render_field(changePasswordForm.new_password, class_="form-control", div_class="col-md-12") }}
                    </div>
                    <div class="row g-3">
                        {{ render_field(changePasswordForm.confirm, class_="form-control", div_class="col-md-12") }}
                    </div><br>
                    {{ changePasswordForm.submit(class_="btn btn-green w-100 text-center")}}
                </form>
            </div>
        </div>
    </div>
</div>