{% from 'helpers.html' import render_field %}

<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel"></h5>
                Qual é o seu email de acesso?
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('auth.reset_password_email') }}" , class_="form-group">
                    {{ passwordResetStep1Form.csrf_token }}
                    <div class="row g-3">
                        {{ render_field(passwordResetStep1Form.email, class_='form-control', div_class="col-md-12") }}
                    </div>
            </div>
            <div class="modal-footer">
                {{ passwordResetStep1Form.submit(class_="btn btn-green w-100 text-center") }}
            </div>
            </form>
        </div>
    </div>
</div>