*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Sans', Lato;
}

header nav.navbar {
    background-color: #ecf3e5;
    box-shadow: 1px 1px 10px 1px rgba(19, 35, 47, 0.5);
}


.page-header {
    font-size: 28px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.3rem;
}

.page-subtitle {
    font-size: 15px;
    text-align: left;
    color: grey;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (min-width: 992px) {
    .nav-item:hover {
        border-radius: 30%;
    }
}

.form-control {
    border: 1px solid #8dbbd7 !important;
}
   border-color: #d7fad7

table {
    border-radius: 5px;
    text-align: center;
}

/* specif areas buttons */
div.buttons_area { 
    padding-bottom: 50px;
}

div.buttons_area div.card { 
    background-color:inherit;
    border: none;
}

div.buttons_area div.card-body {
    text-align: center;
}

div.dashboard { 
    padding-bottom: 50px;
}
 
.dashboard_card{
    min-height: 235px;
}

div.dashboard div.card-title{
    font-size: 1.5rem;
}

div.dashboard div.card-body {
    font-size: 1rem;
}

div.dashboard p.card-text {
    text-align: justify;
}
/* end */
.modal-header .btn-add {
    padding: .5rem .5rem;
    margin: -.5rem -22rem -.5rem auto;
}

@media screen and (max-width: 991px) {
    .modal-header .btn-add {
        margin: -.1rem -1rem .5rem auto;
    }
}

@media screen and (max-width: 415px) {
    .modal-header .btn-add {}
}

.active {
    font-size: 1.15rem;
    font-weight: bold;
}

div small {
    font-style: italic;
    font-family: inherit;
    bottom: 0px;
    left: 0px;
    color: #e74c3c;
    display: none;
}

div small.error {
	display: inline ;
}


.disabled {
    display: none;
}

div.user_profile {
    text-align: center;
    margin: 10px auto;
    width: 50%;
    display: relative;    
    font-size: 16px;
    padding: 2% 5%;
    border: solid #528d43 1px;
    background-color: #E1E5DF;
}

.info {
    font-size: 17px;
}

